name: Lint GitHub Actions

on:
  pull_request:
    paths:
      - '.github/workflows/**'

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Check workflow files
        run: |
          echo "::add-matcher::.github/matchers/actionlint-matcher.json"
          docker run --rm \
            --network none \
            -v "$PWD/.git:/repo/.git:ro" \
            -v "$PWD/.github/workflows:/repo/.github/workflows:ro" \
            -w /repo \
            rhysd/actionlint:1.7.1 -color
        shell: bash
