name: Test Griffin Package

on:
  pull_request:
  merge_group:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: '24.x'
          cache: 'pnpm'

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: '0' # Used to test `seed_tools create --revision <sha1>`

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: typecheck
        run: pnpm typecheck

      - name: lint
        run: pnpm lint

      - name: run tests
        run: pnpm test

      - name: build
        run: pnpm build
