name: Test Griffin Package

on:
  pull_request:
  merge_group:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: '24.x'

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: '0' # Used to test `seed_tools create --revision <sha1>`

      - name: npm ci
        run: npm ci

      - name: typecheck
        run: npm run typecheck

      - name: lint
        run: npm run lint

      - name: run tests
        run: npm run test

      - name: build
        run: npm run build
