name: Test Griffin Package

on:
  pull_request:
  merge_group:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: '24.x'

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: '0' # Used to test `seed_tools create --revision <sha1>`

      - name: npm ci
        run: npm ci

      - name: typecheck
        run: npm run typecheck

      - name: lint
        run: npm run lint

      - name: run tests
        run: npm run test

      - name: build
        run: npm run build
