<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Brave Variations</title>
  </head>

  <body class="bg-light">  
    <div class="container" id="app">
      <section class="navbar navbar-light bg-light">
        <h1>Brave Variations</h1>
        <nav class="nav nav-pills">
          <a href="#" class="nav-item nav-link btn-sm" :class="[isProduction ? 'active' : '']" v-on:click="isProduction=true">Production</a>
          <a href="#" class="nav-item nav-link btn-sm" :class="[isProduction ? '' : 'active']" v-on:click="isProduction=false">Staging</a>
        </nav>
      </section>

      <main>
        <div class="d-flex justify-content-center loading" v-if="loading">
          <div class="spinner-border" role="status"></div>
        </div>
        <div class="row">          
          <div class="col-sm-12">
            <study-item v-if="isProduction"
              v-for="item in productionStudies"
              v-bind:study="item"
              v-bind:key="item.id"
            ></study-item>

            <study-item v-if="!isProduction"
              v-for="study in stagingStudies"
              v-bind:study="study"
              v-bind:key="study.name"
            ></study-item>
          </div>
        </div>
      </main>
    </div>

    <script src="static/bundle.js"></script>
  </body>
</html>